<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Resource</title>
    <link rel="icon" href="/images/Quixotic-Dragons Logo.png">
    <link rel="stylesheet" href="/styles/basic-styles.css">
    <script defer src="/scripts/main-scripts.js"></script>
</head>
<body>
<footer>
    <div class="ftag">
        <p><span class ="disclaimer">Unofficial Fan Content, not endorsed by Wizards of the Coast</span> | <span class="name">Site Design by Quixotic-Dragons</span></p>
    </div>
</footer>
</body>
</html>