<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Resource</title>
    <link rel="icon" href="/images/Quixotic-Dragons Logo.png">
    <link rel="stylesheet" href="/styles/basic-styles.css">
    <script defer src="/scripts/main-scripts.js"></script>
</head>
<body>
<header>
    <div class="title-box">
        <h2>Quixotic-Dragons D&D Resource</h2>
    </div>
    <div class="logo-box">
        <div class="link-container">
            <a id="home_link" href="../index.html">
                <img class= "logo" src="/images/Quixotic-Dragons Logo.png" alt="Home Logo">
                <div class="link-label">Home</div>
            </a>
        </div>
        <div class="link-container">
            <a id="roller_link" href="/pages/roller.html">
                <img class= "logo" src="/images/spinDie.webp" alt="Dice Logo">
                <div class="link-label">Dice Roller</div>
            </a>
        </div>
        <div class="link-container">
            <a id="chara_link" href="/pages/chara-sheet.html">
                <img class= "logo" src="/images/chara-pen.png" alt="Character Logo">
                <div class="link-label">Character Sheet</div>
            </a>
        </div>
        <div class="link-container">
            <a id="ref_link" href="/pages/reference.html">
                <img class= "logo" src="/images/5e-logo.png" alt="Reference Logo">
                <div class="link-label">Quick Reference</div>
            </a>
        </div>
    </div>
    <div class="search-box">
        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Search...">
            <button type="submit" id="searchButton">Search</button>
        </form>
    </div>
</header>
</body>
</html>